<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReturnZero_Client _ID</key>
	<string>o3tK5iIRXzLR3VJmuGab</string>
	<key>ReturnZero_Client_Secret</key>
	<string>nhcxf7A0m3MZfCOngSmSyJ3MmJP2No6IaJtBtdmV</string>
</dict>
</plist>
