<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReturnZero_Client _ID</key>
	<string>2JLFIg-cbinvVgHXPA-P
</string>
	<key>ReturnZero_Client_Secret</key>
	<string>1Gt0W0nrh78l3JJ_FXmJs29Pp2-aZZshvsqm8ZWg</string>
</dict>
</plist>
